@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: #000000;
    color: #F6F6F6;
}

.home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10% 15%;
}

.home__content {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.home__content__title {
    font-size: 36px;
    font-family: "Krona One", sans-serif;
}

.home__content__text, .home__content__stack {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 400;
}

.home__content__stack {
    color: #22D4FD;
}

.profile_image {
    border-radius: 10px;
}

.home__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.home__links__subtitle {
    font-family: "Krona One", sans-serif;
    font-weight: 400;
    font-size: 24px;
}

.home__links__link {
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid #22D4FD;
    border-radius: 8px;
    width: 378px;
    text-align: center;
    padding: 21.5px 0;
    text-decoration: none;
    color: #F6F6F6;
    font-family:  "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 600;
}

.home__links__link:hover {
    background-color: #272727;
}