@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #000000;
    --secondary-color: #F6F6F6;
    --tertiary-color: #22D4FD;
    --hover-color: #272727;

    --primary-font: 'Krona One', sans-serif;
    --secondary-font: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.default__header {
    padding: 2% 0% 0% 15%;
}

.default__header__menu {
    display: flex;
    gap: 80px;
}

.header__menu__link {
    font-family: var(--secondary-font);
    font-size: 24px;
    font-weight: 600;
    color: var(--tertiary-color);
    text-decoration: none;
}

.default__main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5% 15%;
}

.main__content {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.main__content__title {
    font-size: 36px;
    font-family: var(--primary-font);
}

.main__content__text, .main__content__stack {
    font-family: var(--secondary-font);
    font-size: 24px;
    font-weight: 400;
}

.main__content__stack {
    color: var(--tertiary-color);
}

.profile_image {
    border-radius: 10px;
}

.home__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.home__links__subtitle {
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 24px;
}

.home__links__link {
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--tertiary-color);
    border-radius: 8px;
    width: 378px;
    text-align: center;
    padding: 21.5px 0;
    text-decoration: none;
    color: #F6F6F6;
    font-family:  var(--secondary-font);
    font-size: 24px;
    font-weight: 600;
}

.home__links__link:hover {
    background-color: var(--hover-color);
}

.defalt__footer {
    color: var(--primary-color);
    background-color: var(--tertiary-color);
    padding: 24px;
    text-align: center;
    font-family: var(--secondary-font);
    font-size: 24px;
    font-weight: 400;
}